<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Navigation</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet"
        href="	https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/fonts/fontawesome-webfont.eot">

</head>

<body>

    <ul>

        <li>
        <li class="righty"><a href="/addcustomers">New Customer</a>
        <li class="righty"><a href="/viewdetails">View Details</a>
        <li class="righty"><a href="/sendmoney">Pay Money</a>
        <li class="righty"><a href="/viewallcustomers">Our Customers</a>
        <li class="righty"><a href="/transactionhistory">Transaction History</a>
        <li class="righty"><a href="/">Home</a>



        </li>


    </ul>


</body>

</html>